/* New tailwind css directives*/
@import "tailwindcss"; 
@theme {
  --full-flex: 0 0 100%;

    /* --color-*: initial; */
    --color-white: #ffff;
    --color-navyBlue: #001F3F;
    --color-black: #000000;
    --color-gray1: #B5B5B5;
    --color-gray2: #DFDFDF;
    --color-cloudGray: #f1f3f5;
    --color-steelBlue: #4682B4;
    --color-skyBlue: #87CEEB;
    --color-powderBlue: #B0E0E6;
    --color-classicGold: #FFD700;
    --color-classicteal: #008080;
    --color-columbia-blue: #C4D8E2;
    
    --card-box-shadow: 0 0 40px -8px rgb(0 0 0 / 16%), 0 0 24px -16px rgb(0 0 0 / 16%);
    --card-hover-transform: scale3d(1.03, 1.03, 1.08) translate3d(0.1rem, -0.25rem, 20rem);
    
  }


    @layer utilities {
    .swiper-wrapper {
      align-items: center;
    }

    .line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


    .active-link {
      @apply text-(--color-columbia-blue)/90 font-bold;
      }
      
    .google-reviews-widget {
  max-width: 100vw;
  overflow-x: hidden;
}

.google-reviews-widget * {
  box-sizing: border-box !important;
}

      /* .card-pop {
        box-shadow: var(--card-box-shadow);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
    
      .card-pop:hover {
        transform: var(--card-hover-transform);
        box-shadow: var(--card-box-shadow);
      } */

  }
  
  
  @plugin "@tailwindcss/typography";
  @plugin "@tailwindcss/aspect-ratio";
